---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p>Hi! I'm a comedian, writer and recovering wannabe-#Girlboss. I work as a designer for startups and write stories about women and tech. I used to do standup in San Francisco. Now I live back on the east coast with a kid and probably a cold.</p>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(3) %}

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% if postsCount > 3 %}
<p>More posts can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
