---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p>Hi, I'm Lydia! At one point I wanted to be a #Girlboss. Then I tried to hack it in the San Francisco standup scene. Now I'm a mom...in Connecticut. All the while I have worked as a designer in tech. I'm not sure how anything in my life connects. Maybe you can help me with that?</p>

<img src="/pic.png" alt="Collage of photos of Lydia doing standup">

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(3) %}

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% if postsCount > 3 %}
<p>More posts can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
